<div class="articulos-container">
    <div class="btnAgregar d-flex justify-content-between mb-4">
      <div class="titulo">
        <h5>Gestión de artículos <span> Tigasi Néstor </span></h5>
        <h6>Listado y filtrado de artículos</h6>
      </div>
      <!-- Componete botones -->
    </div>
  
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-articulos-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-articulos"
          type="button"
          role="tab"
          aria-controls="nav-articulos"
          aria-selected="true"
          (click)="clickMenuTipo('ARTICULOS')"
        >
          Artículos
        </button>
        
      </div>
    </nav>
    <div class="card-body">
      <div class="contenedor-componentes">
        <!-- Componente pricipal -->
        <div class="col-lg-12">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-articulos"
              role="tabpanel"
              aria-labelledby="nav-articulos-tab"
            >
              <app-mostrar-articulo></app-mostrar-articulo>
            </div>
            
            <div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  